---
name: deploy

on:
  workflow_run:
    workflows:
      - Tests
      - E2E Tests
    types:
      - completed
    branches:
      - main

env:
  PLATFORMS: linux/amd64,linux/arm64

jobs:
  semver:
    permissions: write-all
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tagging.outputs.new_tag }}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: '0'
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.75.0
      id: tagging
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        RELEASE_BRANCHES: main
        DEFAULT_BUMP: patch
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        version: latest
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  docker:
    runs-on: ubuntu-latest
    needs: semver
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push latest
        id: docker_build_latest
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ github.repository }}:latest
          platforms: ${{ env.PLATFORMS }}
      - name: Build and push versioned
        id: docker_build_versioned
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ github.repository }}:${{ needs.semver.outputs.tag }}
          platforms: ${{ env.PLATFORMS }}