name: E2E Tests

on:
  push:
  pull_request:

jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind
          kind version
      - name: Verify kind installation
        run: kind version
      - name: Install the latest version of envsubst
        run: |
          sudo apt update
          sudo apt install -y gettext-base
          envsubst --version
      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e
        env:
          MAILFORM_API_TOKEN: ${{ secrets.MAILFORM_API_TOKEN }}
